/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2017, 8:59:28 PM
    Author     : job
*/

body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
 .jumbotron {
      background-color: #75a3a3;
      color: #fff;
      padding: 35px 20px 35px 25px;
      font-family: Montserrat, sans-serif;
  }
  
  .container-fluid {
      padding: 0px 15px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  #navbar {
      margin-bottom: 0;
      background-color: #000d1a;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #000d1a !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #1a75ff !important;
      background-color: #b3d1ff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #000d1a !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  
  
  input[type='file'] {
  color: transparent;    /* Hides your "No File Selected" */
  /*direction: rtl;        /* Sets the Control to Right-To-Left */
}